/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 78px;
  background-color: #777;
  color: #fff;
}

/* My styling for the rest
-------------------------------------------------- */
* {
  font-size: 16px;
}

html, body {
  background: url(../images/pw_maze_white.png) repeat;
}

p {
  line-height: 2;
  color: #777;
}

small {
  color: #fff;
}

.footer > .container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-accent {
  height: 8px;
  background-color: #4aaaa5;
}

.navbar-default .navbar-brand {
  color: #ffffff;
  background-color: #4aaaa5;
  font-size: 36px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 40px;
  line-height: 0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000000;
  background-color: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
}